<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <title>Register</title>
   
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="flex justify-center max-w-sm">

        <div class=" px-4 mt-10 shadow-md rounded-lg bg-emerald-50">
            <div class="text-center flex mt-10 justify-center align-middle">
                <img src="{% static 'images/ocohstechlogo.png' %}" alt="db" class="w-20 mb-4 mr-2 ml-4 text-gray-200" width="25px">
            </div>
            <p class="pb-2 text-center my-4 text-xs font-thin">NB:Update your profile to complete registration</p>
            
            <form method="post" enctype="multipart/form-data" class="max-w-sm">
                {% csrf_token %}
                {{ form.as_p }}
                {{ profile_form.as_p }}
                <!-- {{ student_form.as_p }} -->
                <button type="submit" class="my-4">Register</button>
                <p class="mb-4">Old Student? <a href="{% url 'login' %}" class="hover:underline">Login</a></p>
            </form>
        </div>

    </div>
</body>
</html>
