{% extends "base.html" %}

{% block content %}

<h3 class="font-bold mt-4">Profile</h3>


<div class="flex flex-col md:flex-row gap-8 my-6">

    <div class="w-full md:w-[300px] bg-white rounded-xl py-6 px-4 cursor-pointer">
        <div class="flex justify-center mb-4">
            {% if user.student.profile_photo %}
                <img src="{{ user.student.profile_photo.url }}" alt="Profile Photo" class="" style="width: 100px; height: 100px; border-radius: 300px; object-fit: cover;">
            {% else %}
                <p>No profile photo.</p>
            {% endif %}
        </div>
        <div class="mb-6">
            <h1 class="text-center font-semibold text-xl">{{ user.first_name }} {{ user.last_name}}</h1>
        </div>

        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            {{ profile_form }}
            <button type="submit" class="bg-[#925FE2] hover:bg-[#855cc8] duration-200 text-white rounded-sm mt-2 px-8 py-2">Save</button>
        </form>
    </div>

    <div class="bg-white rounded-xl px-4 py-4 cursor-pointer ">
        <p class="font-bold mb-4">Information</p>

        <div class="flex flex-col lg:flex-row gap-2">
            <div>
                <div class="mb-2">
                    <p class="font-thin">Name</p>
                    <p class="font-semibold">{{ student.name }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">Student ID</p>
                    <p class="font-semibold">{{ student.student_id }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">School Name</p>
                    <p class="font-semibold">{{ student.school_name }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">Favorite Subject</p>
                    <p class="font-semibold"> {{ student.favorite_subject }}</p>
                </div>
            </div>
            <div>
                <div class="mb-2">
                    <p class="font-thin">Level</p>
                    <p class="font-semibold">{{ student.level }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">Faculty</p>
                    <p class="font-semibold">{{ student.faculty }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">Department</p>
                    <p class="font-semibold">{{ student.department }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">Date of Birth</p>
                    <p class="font-semibold">{{ student.date_of_birth }}</p>
                </div>
            </div>
            <div>
                <div class="mb-2">
                    <p class="font-thin">Gender</p>
                    <p class="font-semibold">{{ student.gender }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">Marital Status</p>
                    <p class="font-semibold">{{ student.marital_status }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">Nationality</p>
                    <p class="font-semibold">{{ student.nationality }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">State of Origin</p>
                    <p class="font-semibold">{{ student.state_of_origin }}</p>
                </div>
            </div>
            <div>
                <div class="mb-2">
                    <p class="font-thin">LGA</p>
                    <p class="font-semibold">{{ student.lga }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">Email</p>
                    <p class="font-semibold">{{ student.email }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">Phone Number</p>
                    <p class="font-semibold">{{ student.phone_number }}</p>
                </div>
                <div class="mb-2">
                    <p class="font-thin">Address</p>
                    <p class="font-semibold">{{ student.address }}</p>
                </div>
                <!-- Add any other fields you want to display -->
            </div>
        </div>
        
        
        
        

        <div class="mt-4">
            <a href="{% url 'update_profile' %}" class="bg-[#925FE2] hover:bg-[#855cc8] duration-200 text-white rounded-sm px-4 py-2 ">Update Profile</a>
        </div>
    </div>

</div>

    









{% endblock %}




</body>
</html>
